<!--
/**
 * Copyright © 2020 Sourceknowledge. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<integrations>
    <integration name="Sourceknowledge_ShoppingAds">
        <email>support@sourceknowledge.com</email>
        <endpoint_url>https://plugins.kevin.citeeze.com/magento/shopping-ads/auth</endpoint_url>
        <identity_link_url>https://app.kevin.citeeze.com/magento/shopping-ads/init</identity_link_url>
    </integration>
</integrations>
