<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2020 Sourceknowledge. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Detects the discount code in the URL and set a cookie to remember it -->
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin
            name="sourceknowledge_shopping_ads_frontcontrollerinterface"
            type="Sourceknowledge\ShoppingAds\Plugin\Framework\App\FrontControllerInterface"
        />
    </type>

</config>
